# Videos
*.mp4
*.mov
*.avi

data/videos/

# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Entorno virtual
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Output data
output/
data/processed/
*.csv
*.png
*.jpg

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
